body{
	margin: 0;
}

header{
	background-color: navajowhite;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

header h1{
	color: sienna;
}

header img{
	border-radius: 300px;
	width: 350px;
	border: 10px solid sienna;
}